/*===========
  Universal 
===========*/

body{
  font-family: Avenir,Helvetica,Arial,sans-serif;
  color: #000;
  background-color: #fff;
  padding: 0;
  margin:0;
  padding-top:80px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

*{
  box-sizing: border-box;
}

img{
  vertical-align: middle
}

h3{
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin:0;
}

h4{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin:0;
}

h6{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin:0;
}

p, th, td {
  padding: 0;
  margin: 0;
}

.toppage__header {
  margin-top:50px;
  margin-bottom: 30px;
  text-align: center;
}

.toppage__header hr{
  border:0.5px solid #a9a9a9;
  width: 10%;
  margin-top: 2%;
}

.toppage__header__img {
  height: 50px;
}

table {
  border-collapse: collapse;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}

ul{
  margin-top: 0;
  margin-bottom: 16px;
}/*これを設定している理由は不明*/

/*==========================
  Main View Sub Components
==========================*/

.mv {
  position: relative;
}

.mv__carousel {
  position: relative;
  overflow: hidden;
}

.mv__carousel__item {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.mv__brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  text-align: center;
}

.mv__brand p {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1rem;
}

/*=======================
  topics Sub Components
=======================*/

.topics__contents{
  padding:0 10%;
  flex-wrap: wrap;
}

.toppage__contents{
  margin-bottom: 100px;
  display: flex;
}

.topics__contents__card{
  max-width: 31.3%;
  margin: 1%;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.5%;
}

.topics__contents__card__img__top{
  border-top-left-radius: 0.5%;
  border-top-right-radius: 0.5%;
  flex-shrink: 0;
  width: 100%; /*親要素のmax-widthを100としたときの%*/
}

.card__body{
  flex: 1 5 auto; /*ここで指定されてて効果があるのか不明*/
  padding: 20px;
}

.card__title{
  margin-top: 0;
  margin-bottom: 6px;
}

.card__subtitle{
  margin-top: 0;
  margin-bottom: 0;
}

.card__text{
  margin: 0;
}

.card__footer{
  border-radius: 0.5%;
  padding: 12px 20px;
  background-color: rgba(0,0,0,.03); /*.03は0.03の省略形*/
  border-top: 1px solid rgba(0,0,0,.125); 
}

.btn__primary{
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 5%;
}

.btn__primary:hover{
  color:#000;
  text-decoration: none;
}

/*============================
  Information Sub Components
============================*/

.info__contents {
  justify-content: center;
}/*display: flex(フレックスコンテナの有効化)はtoppage__contentsで有効になっている*/

.info__contents td {
  padding: 20px;
  border-top: 1px #a9a9a9 solid;
  border-bottom: 1px #a9a9a9 solid;
}

.info__contents__table__date {
  width: 50px;
  font-weight: 700;
  color: #d2b48c;
}

.info__contents__table__text {
  width: 500px;
}

.info__contents__table__link{
  color:#000
}

.individual-info__header {
  padding: 20px 5%;
  margin-bottom: 40px;
  background-color: #fffacd;
}

.individual-info__header h3 {
  margin-top: 10px;
}

.individual-info__contents{
  padding: 0 5% 40px;
}

.individual-info__contents__pdf {
  padding: 30px 0;
}

.pdf-link {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #000000;
  font-weight: bold;
  color: #fff;
}

.pdf-link:hover{
  text-decoration: none;
  color: #fff;
}

/*=============================
  Global Navigation Component 
=============================*/

.globalnav {
  height: 80px;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #ffffff;
  color:rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.globalnav__brand {
  width: 5%;
  margin-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.globalnav__bar{
  align-items: center;
  flex-grow: 1;
}

.globalnav__brand__logo {
  width: 56px;
  height: 58px;
}

.navbar__nav {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.globalnav__bar__item__link:hover{
  color: #212529;
  text-decoration: none;
}/*a:hoverでcursor: pointer;が設定されている*/

.globalnav__bar__item__link{
  color: rgba(0,0,0,0.5);
  padding: 8px;
}

.globalnav__sns {
  display: flex;
  justify-content: center;
  text-align: center;
}

.globalnav__sns__text {
  height: 15px;
  margin: auto 10px;
}

.globalnav__sns__icon {
  font-size: 3rem;
  color: #a9a9a9;
}